@use "@angular/material" as mat;

$primary-palette: mat.define-palette(mat.$indigo-palette);

mat-grid-list {
    padding: 1em;
}
mat-grid-tile{
    background-color:  mat.get-color-from-palette($primary-palette, 'lighter');
}

mat-grid-tile-header {
    justify-content: center !important ;
}